@import "variables";
.accent1 {
  color: $accent1;
}
.bg-accent1 {
  background-color: $accent1;
}
.accent2 {
  color: $accent2;
}
.bg-accent2 {
  background-color: $accent2;
}
.accent3 {
  color: $accent3;
}
.bg-accent3 {
  background-color: $accent3;
}
.accent4 {
  color: $accent4;
}
.bg-accent4 {
  background-color: $accent4;
}
