@import "variables";
#contact {
  min-height: 100vh;
  background-image: linear-gradient($accent1, $accent3);
  color: white;
}
.contact-card {
  width: 100%;
  cursor: pointer;
  transition: all 0.3s;
}
.contact-card:hover {
  color: $accent2;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
}
