@import "variables";

header {
  background-image: linear-gradient($accent1, $accent4);
  min-height: 100vh;
  overflow-y: hidden;
}
.nav-text {
  font-size: larger;
}
.nav-custom {
  color: white;
  border-radius: 5px;
  transition: 0.5s;
}
.nav-custom:hover {
  background-color: $accent2;
  color: $accent1;
}
.intro-header {
  font-size: 5em;
  margin-top: 60px;
}
.intro-text {
  font-size: 40px;
}
#linkButtons {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0 auto 0 auto;
}
.introBtn {
  font-size: 25px;
  margin: 30px 10px 0 10px;
  transition: 0.5s;
  border: none;
  border-radius: 8px;
  padding: 10px 0;
  width: 40%;
  text-decoration: none;
}
.gitBtn {
  background-color: black;
  color: white;
}
.gitBtn:hover {
  background-color: white;
  color: black;
}
.linkedInBtn {
  background-color: rgba(0, 102, 255, 0.707);
  color: white;
}
.linkedInBtn:hover {
  background-color: white;
  color: rgba(0, 102, 255, 0.707);
}
.resumeBtn {
  background-color: white;
  color: black;
}
.resumeBtn:hover {
  background-color: black;
  color: white;
}
.learn-more {
  text-decoration: none;
  color: white;
  text-align: center;
}
.learn-more:hover {
  color: white;
}
