@font-face {
  font-family: aldo;
  src: url("../fonts/aldo.ttf");
}
.aldo {
  font-family: aldo;
}
@font-face {
  font-family: inlanders;
  src: url("../fonts/inlanders.otf");
}
.inlanders {
  font-family: inlanders;
}
@font-face {
  font-family: robot;
  src: url("../fonts/robot.ttf");
}
.robot {
  font-family: robot;
}
@font-face {
  font-family: cool;
  src: url("../fonts/cool.otf");
}
.cool {
  font-family: cool;
}
.sans-serif {
  font-family: sans-serif;
}
