@import "variables";

#skills {
  background-image: linear-gradient($accent1, $accent3);
  color: white;
  min-height: 100vh;
}
.skill-card {
  background-color: white;
  color: $accent1;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}
.skill-card:hover {
  transform: scale(1.05);
}

// Brand Colors
.react:hover {
  color: #61dbfb !important;
}
.node-js:hover {
  color: #339933;
}
.bootstrap:hover {
  color: #563d7c;
}
.sass:hover {
  color: #c69;
}
.js:hover {
  color: #f0db4f;
}
.html5:hover {
  color: #e34c26;
}
.css3-alt:hover {
  color: #264de4;
}
.github:hover {
  color: #171515;
}
